<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: head(title=~{::title},links=~{})">
<title>View Access Logs</title>
<!-- AngularJS library -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</head>

<body th:include="layout :: body" th:with="content=~{::content}">
	<div th:fragment="content" ng-app="tableApp" ng-controller="tableCtrl">
		<script th:inline="javascript">
		/*<![CDATA[*/
			var app = angular.module("tableApp", []);
			app.controller('tableCtrl', function($scope, $http) {
				$scope.codes = [];
				$scope.loadTable = function() {
					// Get list of entries from rest api.
					$http.get("/iTrust2/api/v1/logentries/userAll").then(
						function(response) {
							$scope.entries = response.data;
							$scope.message = "";
						}, function(rejection) {
							$scope.entries = [];
							$scope.message = "Could not display log entries.";
						});
				}		

				// load table upon page loading
				$scope.loadTable();
				
				// Filter the log entries by date on form submit.
				$scope.filterByDate = function() {
					console.log($scope.startDate);
					console.log($scope.endDate);
					console.log($scope.startDate instanceof Date);
					
					var formattedStartDate = "" + $scope.startDate.getFullYear() + "-" + $scope.startDate.getMonth() + "-" + $scope.startDate.getDate();
					var formattedEndDate = "" + $scope.endDate.getFullYear() + "-" + $scope.endDate.getMonth() + "-" + $scope.endDate.getDate();
					console.log(formattedStartDate);
					console.log(formattedEndDate);
					
					// Get sorted date of entries from rest api.
					$http.get("/iTrust2/api/v1/logentries/" + formattedStartDate + "/" + formattedEndDate).then(
							function(response) {
								$scope.entries = response.data;
								$scope.message = "";
							}, function(rejection) {
								$scope.entries = [];
								$scope.message = "Could not display log entries.";
							});
				}
			});
			/*]]>*/
		</script>

		<form ng-submit="filterByDate()">
			<h3>Filter by Date</h3>
			<div class="dateSelectors">
				<label for="startDate">Enter a starting date:</label>
				<input type="date" id="startDate" name="startDate" ng-model="startDate">
				<label for="endDate">Enter an ending date:</label>
				<input type="date" id="endDate" name="endDate" ng-model="endDate">
				<span class="validity"></span>
				<input type="submit" name="dateFilter" value="Filter by Date">
			</div>
		</form>

		<div>	
			<h4 style="color:red" ng-model="message"></h4>
			<h1>Log Entries</h1>
			<table class="table" style="width:100%">
				<tr style="vertical-align: top">
					<th>Transaction Code</th>
					<th>Primary User</th>
					<th>Date & Time</th>
				</tr>
				<tr name="entryRow" style="vertical-align: top" ng-repeat="e in entries">
					<td name="codeCell">{{e.logCode}}</td>
					<td name="primaryUserCell">{{e.primaryUser}}</td>
					<td name="dateCell">{{e.time.year}}/{{(e.time.month + 1)}}/{{e.time.dayOfMonth}} 
						{{e.time.hourOfDay}}:{{(e.time.minute < 10?'0':'') + e.time.minute}}:{{(e.time.second < 10?'0':'') + e.time.second}}</td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>
