<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>View Access Logs</title>
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- AngularJS library -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body ng-app="myApp" class="ng-cloak">

<div ng-controller="tableCtrl"> 
	<table>
		<tr>
			<th>Name of Accessor:</th>
			<th>Role of Accessor:</th>
			<th>Date and Time of Access:</th>
			<th>Transaction Type</th>
		</tr>
		<tr ng-repeat="entry in entries">
			<td>{{entry.accessor}}</td>
			<td>{{entry.role}}</td>
			<td>{{entry.date}}</td>
			<td>{{entry.logCode.getDescription()}}</td>
		</tr>
	</table>
</div>

<script>
	// Create app to control webpage.
	var app = angular.module('myApp', []);

	// Controller for app.
	app.controller('tableCtrl', ['$http', '$scope', function($http, $scope) {
		// Reference this as self.
		var self = this;
		
		// List of log entries for the logged in user.
		self.entries = null;
		
		// Get all entries associated with the logged in user.
		function getEntriesForUser() {
			$http.get("/api/v1/logentries/" + user).then(function (response) {
					self.entries = response.data;
				});
		}
	]});
</script>

</body>

</html>