<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: head(title=~{::title},links=~{})">
<title>View Access Logs</title>
<!-- AngularJS library -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</head>

<body th:include="layout :: body" th:with="content=~{::content}">
	<div th:fragment="content">
		<script th:inline="javascript">
		/*<![CDATA[*/
			var app = angular.module("tableApp", []);
			app.controller('tableCtrl', function($scope, $http) {
				$scope.codes = [];
				$scope.loadTable = function() {
					// get list of icd codes from rest api
					$http.get("/iTrust2/api/v1/logentries/userAll").then(
							function(response) {
								$scope.entries = response.data;
								$scope.message = "";
							}, function(rejection) {
								$scope.entries = [];
								$scope.message = "Could not display log entries.";
							});
				}			
				
				// load table upon page loading
				$scope.loadTable();
			});
			/*]]>*/
		</script>

		<form>
			<h3>Filter by Date</h3>
			<div class="dateSelectors">
				<label for="startDate">Enter a starting date:</label>
				<input type="date" id="startDate" name="startDate" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
				<label for="endDate">Enter an ending date:</label>
				<input type="date" id="endDate" name="endDate" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
				<span class="validity"></span>
			</div>
			<div>
				<input type="submit" name="dateFilter" value="Filter by Date">
			</div>
		</form>

		<div ng-app="tableApp" ng-controller="tableCtrl">	
			<h4 style="color:red" ng-model="message"></h4>
			<h1>Log Entries</h1>
			<table class="table" style="width:100%">
				<tr style="vertical-align: top">
					<th>ICD-10 Code</th>
					<th>Description</th>
				</tr>
				<tr name="entryRow" style="vertical-align: top" ng-repeat="e in entries">
					<td name="codeCell">{{e.logCode}}</td>
					<td name="primaryUserCell">{{e.primaryUser}}</td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>
